CONNECTION_STRING=server=mysql;port=3306;database=keepr;user=tribe_app;password=<your_password_here>

MYSQL_DATABASE=keepr
MYSQL_USER=tribe_app
MYSQL_PASSWORD=your_password_here
MYSQL_ROOT_PASSWORD=your_root_password_here

AUTH_DOMAIN=your-auth-domain
AUTH_AUDIENCE=your-auth-audience